name: Continuous integration

on:
  push:
    branches: 
      - "**" 
  pull_request:
    branches: 
      - "**" 

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: "1.21"

    - name: Build
      run: go build -v

    - name: Test
      run: go test -v ./...
